@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --orange: hsl(35, 77%, 62%);
  --red: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --grayBlue: hsl(233, 8%, 79%);
  --darkGrayBlue: hsl(236, 13%, 42%);
  --darkBlue: hsl(240, 100%, 5%);
}

* {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
